@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');
.welcome-card {
    background-image: url('../assets/images/programming-blue-full.jpg.svg');
    background-size: auto;
    background-repeat: no-repeat;
    height: 450px;
    width: '100%';
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.card-cont {
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}

.name-cont {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-items:center;
}

.name {
    font-size: 84px;
    font-family: 'Montserrat Subrayda';
    margin-bottom: -20px;
}

.title {
    padding-bottom: 20px;
}